.btn {
    margin-bottom: 0;
}

.checkbox-container {
  margin-left: 10px;
}

.large-checkbox {
  transform: scale(1.5);
  margin: 0.5rem;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollable-table {
    max-height: 75vh;
    overflow-y: scroll;
    padding-right: 20px;
}

.table-container-no {
    width: 100%;
    max-height: 67vh;
    overflow-y: scroll;
}

.table-container-yes {
    width: 100%;
    max-height: 67vh;
    overflow-y: scroll;
}

.table td:last-child {
    text-align: right;
}

.table th:last-child {
    text-align: right;
}

.status-future {
    color: #57aee1 !important;
    font-weight: bold;
    padding: 5px;
    background: #222222;
}

.status-completed {
    color: #0aa40a !important;
    font-weight: bold;
    padding: 5px;
    background: #222222;
}

.status-overdue {
    color: #ff1010 !important;
    font-weight: bold;
    padding: 5px;
    background: #222222;
}

.status-urgent {
    color: #f3c04a !important;
    font-weight: bold;
    padding: 5px;
    background: #222222;
}

.deadline-urgent {
    color: #f3c04a !important;
}

.deadline-overdue {
    color: #ff1010 !important;
}

.deadline-future {
    color: #57aee1 !important;
}

.completed-text {
    color: #000000;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
}

.uncompleted-text {
    color: #000000;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
}

thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 2px solid #dee2e6;
}

.full-width-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.table {
  width: 100%;
  margin-top: 1.22rem;
}

.text-danger {
    color: #dc3545;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.priority-box {
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.priority-low {
    background-color: green;
}

.priority-medium {
    background-color: orange;
}

.priority-high {
    background-color: red;
}

.no-todos {
    color: #000000;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.sort-container {
    justify-content: space-between;
    display: flex;
    margin-bottom: 1rem;
}
